vti_encoding:SR|utf8-nl
vti_author:SR|REDE\\h010994
vti_modifiedby:SR|REDE\\h010994
vti_timelastmodified:TR|10 Apr 2018 20:14:41 -0000
vti_timecreated:TR|10 Apr 2018 20:14:41 -0000
vti_lineageid:SR|{D9CDC05A-5CE9-49E6-9A8D-A917451D5CAF}
vti_cacheddtm:TX|10 Apr 2018 20:14:41 -0000
vti_filesize:IR|212
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|
